<ion-header>
  <ion-toolbar>
    
  
    <ion-button [routerLink]="['/home']" color="success">
      <ion-icon name="return-up-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <div class="back">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Contacto</ion-card-title>
          
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <a href="https://www.facebook.com/periodico.contraplano/">
                  <img class="face" src="../../../assets/facebook.png" alt="">
                </a>
                
              </ion-thumbnail>
              <ion-label>Facebook</ion-label>
            </ion-item>
      
            <ion-item>
              <ion-thumbnail slot="start">
                <a href="https://twitter.com/ContraplanoTv?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                  <img class="twitt" src="../../../assets/twitter.png" alt="">
                </a>

                
              </ion-thumbnail>
              <ion-label>Twitter</ion-label>
            </ion-item>
      
            <ion-item>
              <ion-thumbnail slot="start">
                <a href="https://www.instagram.com/contraplano_/?hl=en">
                  <img class="twitt" src="../../../assets/instagram.png" alt="">
                </a>
              </ion-thumbnail>
              <ion-label>Instagram</ion-label>
            </ion-item>
      
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <a href="https://www.youtube.com/channel/UCcdmoMteApedm_afbbCcFjw">
                  <img class="twitt" src="../../../assets/youtube.png" alt="">
                </a>
              </ion-thumbnail>
              <ion-label>Youtube</ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <a href="https://www.tiktok.com/@contraplanotv?lang=es">
                  <img class="twitt" src="../../../assets/tiktok.png" alt="">
                </a>
              </ion-thumbnail>
              <ion-label>TikTok</ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <a href="https://contraplano.cl/">
                  <img class="twitt" src="../../../assets/contraplanologo.png" alt="">
                </a>
              </ion-thumbnail>
              <ion-label>Contraplano</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>


      <ion-card>
        <ion-card-header>
          <ion-card-title>Contraplano</ion-card-title>
          
        </ion-card-header>
      
        <ion-card-content>
          Somos un medio de comunicación independiente, ecológico y con sentido de pertenencia de la Región de Valparaíso

          Coordinadora de medios Yasmín Delgado Ovalle
          
          Los Sargazos 919 Reñaca, Viña del Mar
          
          www.contraplano.cl
        </ion-card-content>
      </ion-card>
    </div>
  </div>
 
  </ion-content>
  


 