




  <ion-content >
    
    <div class="contain">
      <div class="container">
        <img #animacion3 class="logos" src="../../../assets/logo2.png" alt="">
        <ion-text  color="light">
          <div class="animacion1" #animacion1>
            <h1  class="bienven">Bienvenidos a medios Contraplano</h1>
          </div>
          
        </ion-text>
        <div #animacion2>
          <ion-button color="success" class="buton" (click)="ingresar()">Ingresar</ion-button>
        </div>
        
      </div>
      
    </div>
    
    </ion-content>


