.flipbook-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.flipbook-container iframe {
    position: relative;
    left: -100px;
    top: -350px;
}


.redes{
    
    height: 60px;
    
    display: flex;
    justify-content: space-between;
}

.twitt{
    scale: 100%;
    margin-left: -100px;
    margin-top: 10px;
}

.face{
    scale:23%;
    margin-top:-50px;
    margin-left: -50px;
}

