.logo{
    scale: 50%;
    height: 80px;
}

.logohead{
    scale: 50%;
    height: 80px;
    margin-left: 130px;
    margin-top: -10px;
}

.toolba{
    background-color: #1a1a1a;
}


.micontent{
    height: 5000px;
}